.container-header {
    display: flex;
    margin: auto;
    width: 900px;
    background-image: 
    // linear-gradient(
    //     to bottom,
    //     rgba(230, 29, 169, 0.5),
    //     rgba(255, 0, 0, 0.5)
    // );
        url("../assets//images/banner.png");
    height: 75px;
    object-fit: cover;
    .my-cash2 {
        width: 100px;
        border-radius: 5px;
        color: #e6f702;
        background-color: #ff0000;
    }
    .container-logo {
        margin-left: 12px;
    }
    .logo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .title {
        color: rgb(255, 255, 255);
        font-size: 50px;
        font-weight: 600;
        min-width: 75%;
    }
    .my-detail {
        .my-avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            // padding-right: 80px;
        }
        .my-cash {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            border-radius: 5px;
            background-color: #ff0000;
            .my-cash-title {
                color: #e6f702;
            }
            .gold {
                width: 15px;
                height: 15px;
            }
        }
    }
}
