.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    border-radius: 12px;
    height: 400px;
    min-width: 20%;
    background-color: rgb(218, 218, 218);
    text-align: center;
}

.register-title {
    font-weight: 700;
    font-size: 1.5rem;
}

input {
    width: 400px;
}
// mau css

.FormRegister-container {
    // justify-content: center;
    margin: 5px auto;
    width: 900px;
    .detail-2 {
        color: aqua;
        background-color: orange;
        width: 900px;
        margin: auto;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 900px;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        width: 50%;
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
}
.preview-img-container {
    .label-upload {
        padding: 5px;
        border-radius: 3px;
        cursor: pointer;
        background: #ebebeb;
        width: 200px;
        &:hover {
            opacity: 0.9;
        }
    }
    .preview-image {
        height: 100px;
        width: 200px;
        border: 1px solid red;
    }
}
.anh-dai-dien {
    width: 200px;
}
