.containerUpdate {
    text-align: center;
    .bannerFormregis {
        width: 100vw;
        height: 40vw;
        object-fit: cover;
        position: relative;
        background-color: red;
    }
    .avatarFormregis {
        width: 16.8vw;
        height: 16.8vw;
        object-fit: cover;
        position: absolute;
        border-radius: 50%;
        top: 35vw;
        left: 8vw;
    }
    .hoTen {
        margin-top: 2.5vw;
        border: solid 1px rgb(143, 140, 140);
        width: 60vw;
        margin-left: 31vw;
        text-align: left;
        display: block;
        font-size: 2.5vw;
        font-weight: 600;
    }
    .cauNoiTamDac {
        margin-top: 1vw;
        text-align: left;
        display: block;
        border: solid 1px rgb(143, 140, 140);
        width: 60vw;
        margin-left: 31vw;
    }
    
    .containerTieuChiFormregis {
        display: flex;
        margin-top: 2vw;
        margin-left: 2vw;
        margin-right: 2vw;
        text-align: center;
        .tieuChiFormregis {
            width: 30%;
            font-size: 2vw;
            padding: 1.2vw 0vw;
            height: 6vw;
            text-align: center;
            border: solid 0.11vw rgb(143, 140, 140);
        }
       
        .noiDungFormregis {
            height: 6vw;
            width: 70%;
            border: solid 0.1vw rgb(143, 140, 140);
            text-align: center;
            border-radius: 1vw;
            select{
                height: 5vw;
                width: 30%;
                margin: 0.5vw;
                border: solid 0.1vw rgb(143, 140, 140);
                border-radius: 1vw;
                option {
                    // text-align: center;
                    
                }
            }
        }
        .myNoiDungFormregis2 {
            height: 6vw;
            width: 70%;
            border: solid 0.1vw rgb(143, 140, 140);
            text-align: center;
            padding: 0.5vw 0vw;
            border-radius: 1vw;
         
            select{
                text-align: center;
                width: 30%;
                height: 5vw;
                border: solid 0.1vw rgb(143, 140, 140);
                border-radius: 1vw;
                margin-right: 0.5vw;
                option {
                    // text-align: center;
                    
                }
            }
            
        }
        .noiDungFormregisDacDiem {
            display: flex;
            width: 70%;
            border: solid 0.1vw rgb(143, 140, 140);
            .containerTieuChi {
                display: flex;
                margin-left: 3vw;
                align-items: center;
                input {
                    border: solid 0.1vw rgb(143, 140, 140);
                    width: 75%;
                    margin-right: 1vw;
                    height: 4vw;
                    margin: 0.2vw;
                }
            }
        }
        .noiDungFormregis3{
            width: 70%;
            border: solid 0.1vw rgb(143, 140, 140);
            text-align: center;
            font-size: 1.8vw;
            height: 6vw;
            .inputFormregis3 {
                text-align: center;
                width: 98%;
                border: none;
                height: 5vw;
                margin: 0.5vw auto;
            }
        }
        
    }
    .mauNguoiYeuLyTuong {
        text-transform: uppercase;
        font-size: 2.5vw;
        font-weight: 600;
        text-align: left;
        padding-left: 3.0vw;
        margin-top: 2vw;
    }
    .luuY{
        margin-top: 1vw;
        font-size: 2.2vw;
    }
    .luuThongTin {
        cursor: pointer;
        border-radius: 2vw;
        width: 35vw;
        font-size: 3.5vw;
        font-weight: 600;
        text-align: center;
        background-color: #04aa6d;
        margin-top: 5vw;
        margin-bottom: 20vw;
        height: 12vw;
    }
}
