.container-homthu {
    position: absolute;
    top: 9vw;
    padding-bottom: 10vw;
    text-align: center;
    .homThu{
        width: 30vw;
        font-size: 5vw;
        font-weight: 600;
        color: #fff;
        border: solid 0.1vw #04aa6d;
        background-color: #04aa6d;
        border-radius: 3vw;
        margin-top: 3vw; 
        margin-left: 35vw ;
        padding: 2vw;
    }
}
