.container-yourDetail {
    width: 900px;
    margin: auto;
    .banner {
        height: 250px;
    }
    .yourDetail-avatar-hoTen-cauNoiTamDac {
        display: flex;
        .yourDetail-avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        .yourDetail-hoTen-cauNoiTamDac {
            .yourDetail-hoTen {
            }
            .yourdetail-cauNoiTamDac {
            }
        }
    }
    .Container-yourTieuChi-yourNoiDung {
        width: 900px;
        margin: auto;
        display: flex;
        .yourTieuChi {
            width: 50%;
            border: solid 1px gray;
        }
        .yourNoiDung {
            width: 50%;
            border: solid 1px gray;
            display: flex;
            margin: auto;
            text-align: center;
            align-items: center;
            .donVi {
                padding-right: 20px;
            }
        }
    }
    .yourMauNguoiYeuLyTuong {
        color: red;
    }
    .xinLamQuen {
        margin: 50px;
        width: 350px;
        background-color: blue;
        cursor: pointer;
    }
    .boQua {
        margin: 50px;
        width: 350px;
        background-color: red;
        cursor: pointer;
    }
}
