.container-ChiTietSanPham {
    width: 60%;
    justify-content: center;
    align-items: center;
    border: solid 3px #9cddc2;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    // background-color: #9cddc2;
    .close {
        text-align: right;

        button {
            background-color: red;
            font-weight: 400;
            border-radius: 10px;
        }
    }
    .anhSanPham {
        width: 250px;
        height: 250px;
        object-fit: cover;
        
        background-color: #fff;
        border-radius: 10px;
    }
    .tenSanPham {
        font-size: 22px;
        font-weight: 600;
        margin-top: 10px;
        text-transform: uppercase;
    }
    .giaBan {
        display: flex;
        margin: auto;
        text-align: center;
        justify-content: center;
        gap: 10px;

        .giabanCu {
            text-decoration: line-through;
        }
        .giaBanMoi {
            color: red;
        }
    }
    .muaHang {
        font-size: 22px;
        font-weight: 600;
        background-color: red;
        min-width: 200px;
        margin-top: 10px;
        border-radius: 10px;
    }
    .viTriSanPham {
        display: flex;
        gap: 10px;
        text-align: center;
        justify-content: center;
        margin-top: 10px;

        .diachisanpham {
            font-size: 10px;
        }
    }
    .thongtinSanPham {
        text-align: justify;
        padding: 20px;
    }
}
