.container-header-shop {
   text-align: center;
    .bannerShop {
        width:  100%;
        height: 40vw;
        margin: auto;
        justify-content: center;
        align-items: center;
        object-fit: cover;
    }
    .wecomeShop {
        color: red;
        font-weight: 600;
        font-size: 3vw;
        text-align: center;
        text-shadow: 0.2vw 0.2vw 0.4vw #c4c726;
    }
    .quyDoi{
        font-size: 2.5vw;
        text-align: center;
    }
    .hoptac-sanpham {
        display: flex;
        gap: 30%;
        justify-content: center;
        align-items: center;
        margin-bottom: 2vw;
        .moihoptac {
            display: block;
            margin-right: vw;
            border-radius: 1vw;
            background-color: #04aa6d;
            width: 30vw;
            text-align: center;
            font-size: 3vw;
        }
        .themSanPham {
            display: block;
            margin-right: vw;
            border-radius: 1vw;
            background-color: #04aa6d;
            width: 30vw;
            text-align: center;
            font-size: 3vw;
        }
    }
    .CloseShop {
        margin-top: 2vw;
        margin-right: 0vw;
        border-radius: 1vw;
        background-color: red;
        width: 30vw;
        font-size: 3vw;
    }
}
