.container-sanPham {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2vw;
    background-color: #88d3b4;
    padding: 1vw 0vw 3vw 0vw;

    .sanPham {
        justify-content: center;
        align-items: center;
        padding: 2vw;
        margin: 1vw;
        border-radius: 2vw;
        background-color: #fff;
        box-shadow: 12px 14px 12px -1px rgba(0,0,0,0.75);
-webkit-box-shadow: 12px 14px 12px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 12px 14px 12px -1px rgba(0,0,0,0.75);
        .anhSanPham {
            width: 43vw;
            height: 50vw;
            object-fit: cover;
            border: solid 0.1vw gray;
            background-color: #fff;
            cursor: pointer;
            border-radius: 2vw;
        }
        .tenSanPham {
            font-size: 3vw;
            font-weight: 600;
            margin: 2vw auto;
            text-transform: uppercase;
        }
        .giaBan {
            text-align: center;
            justify-content: center;
            margin: 2vw auto;
            
            .giaBanMoi {
                color: red;
                font-size: 5vw;
            font-weight: 600;
            margin-bottom: 1vw;
            }
            .giabanCu {
                text-decoration: line-through;
                font-size: 5vw;
                font-weight: 300;

            }
            
        }
        .muaHang {
            font-size: 3.5vw;
            font-weight: 600;
            background-color: red;
            width: 100%;
            margin-top: 2vw;
            border-radius: 3vw;
        }
        .viTriSanPham {
            display: flex;
            gap: 1vw;
            text-align: center;
            justify-content: center;
            margin-top: 2vw;
            .diachisanpham {
                font-size: 1.6vw;
            }
        }
    }
}
