.container-SuaSanPham {
    display: flex;

    .suaSanPham {
        width: 50%;
        justify-content: center;
        align-items: center;

        .anhSanPham {
            width: 180px;
            height: 180px;
            object-fit: cover;
            border: solid 1px gray;
        }
        .tenSanPham {
        }
        .giaBan {
            display: flex;
            margin: auto;
            text-align: center;
            justify-content: center;
            gap: 10px;

            .giabanCu {
                text-decoration: line-through;
            }
            .giaBanMoi {
                color: red;
            }
        }
        .viTriSanPham {
            // display: flex;

            .diachisanpham {
                font-size: 10px;
            }
        }
    }
}
.container-themSanPham {
    width: 350px;
    margin: auto;
    .sanPham {
        margin: auto;
        .anhsuasanpham {
            object-fit: cover;
            border: solid 1px gray;
            width: 180px;
            height: 180px;

            background-color: red;
            margin: auto;
            img {
                width: 180px;
                height: 180px;
            }
        }
        .tenSanPham {
            justify-content: center;
            align-items: center;
            margin: auto;
            border: solid 1px gray;
        }
        .giaBan {
            display: flex;
            .giabanCu {
                border: solid 1px gray;
            }
            .giaBanMoi {
                border: solid 1px gray;
            }
        }
        .muaHang {
            border: solid 1px gray;
        }
    }
}
