.suaSanPham {
text-align: center;

    .quayLaiShopping {
        margin-top: 6vw;
        font-size: 3vw;
        font-weight: 600;
        background-color: #04aa6d;
        width: 30vw;
        border-radius: 1vw;
        text-align: center;
    }
    .themSanPham {
        text-align: center;
        font-size: 3vw;
        font-weight: 600;
        background-color: #04aa6d;
        width: 30vw;
        margin: 2vw;
        border-radius: 1vw;
        margin-top: 6vw;
    }
    .container-SuaSanPham {
        display: grid;
        margin: auto;
        grid-template-columns: 1fr 1fr;
        margin-top: 2vw;
        background-color: #88d3b4;
        
        .sanPham {
            justify-content: center;
            align-items: center;
            padding: 1vw;
            margin: 1.5vw;
            border-radius: 1vw;
            background-color: rgba(255, 255, 255, 0.8);
            .suaxoa {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 3.5vw auto;
                gap: 2vw;
                .sua {
                    min-width: 12vw;
                    border-radius: 1vw;
                    background-color: #04aa6d;
                }
                .xoa {
                    min-width: 12vw;
                    border-radius: 1vw;
                    background-color: red;
                }
            }

            .anhSanPham {
                width: 43vw;
                height: 50vw;
                object-fit: cover;
                border: solid 0.1vw gray;
                border-radius: 2vw;
            }
            .tenSanPham {
                font-size: 5vw;
                font-weight: 600;
                margin-top: 2vw;
                text-transform: uppercase;
            }
            .giaBan {
                margin: 2vw auto;
                text-align: center;
                justify-content: center;
                .giaBanMoi {
                    color: red;
                    font-size: 5vw;
                    font-weight: 600;
                }
                .giabanCu {
                    margin-top: 1vw;
                    text-decoration: line-through;
                    font-size: 5vw;
                    font-weight: 300;
                }
               
            }
            .muaHang {
                font-size: 5vw;
                font-weight: 600;
                background-color: gray;
                width: 80%;
                margin-top: 2vw;
                border-radius: 2vw;
            }
            .thongtinSanPham {
                margin-top: 2vw;
                text-align: justify;
                padding: 2vw;
                word-wrap:break-word;
               
                width: 45vw;
                height: 20vw;
                overflow:auto
            }
        }
    }
    .container-themSanPham {
        margin: auto;
        .close {
           
            button {
                background-color: red;
                font-weight: 600;
                border-radius: 1vw;
            }
        }
        .sanPham {
           text-align: center;
           font-size: 3.5vw;
           font-weight: 600;
            .anhsuasanpham {
                width: 76vw;
                height: 90vw;
                object-fit: cover;
                border: solid 0.1vw gray;
                background-color: #fff;
                border-radius: 3vw;
                
            }
            .tenSanPham {
                justify-content: center;
                align-items: center;
                margin: auto;
                border: solid 0.1vw gray;
                height: 8vw;
            }
            .thongTinSanPham {
                // width: 100%;
                word-wrap:break-word
            }
            .giaBan {
                display: flex;
                text-align: center;
                gap: 1vw;
                .giabanCu {
                    border: none;
                    width: 50%;
                    input{
                        width: 100%;
                        height: 8vw;
                    }
                }
                .giaBanMoi {
                    border: none;
                    width: 50%;
                    input{
                        width: 100%;
                        height: 8vw;
                    }
                }
            }

            .luuSanPham {
                font-size: 3.5vw;
                font-weight: 600;
                background-color: red;
                width: 80%;
                margin-top: 5vw;
                border-radius: 5vw;
                margin-bottom: 3vw;
            }
        }
    }
}
