.container-themSanPham {
    width: 70%;
    justify-content: center;
    align-items: center;
    border: solid 1px gray;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: #9cddc2;
    margin-bottom: 30px;
    padding: 20px;
    .close {
        text-align: right;
        button {
            background-color: red;
            font-weight: 600;
            border-radius: 10px;
        }
    }
    .sanPham {
        margin: auto;
        .anhsanpham {
            width: 250px;
            height: 250px;
            object-fit: cover;
            border: solid 1px gray;
            background-color: #fff;
            margin: auto;
        }
        .tenSanPham {
            justify-content: center;
            align-items: center;
            margin: auto;
            border: solid 1px gray;
        }
        .thongTinSanPham {
            height: 70px;
        }
        .giaBan {
            display: flex;
            gap: 10px;
            .giabanCu {
                border: solid 1px gray;
            }
            .giaBanMoi {
                border: solid 1px gray;
            }
        }
        .luuSanPahm {
            margin-top: 10px;
            font-size: 22px;
            font-weight: 600;
            background-color: red;
            min-width: 200px;
            margin-top: 10px;
            border-radius: 10px;
        }
    }
}
