.container-huongDan {
    width: 900px;
    .h1 {
        padding-top: 20px;
        color: red;
        text-shadow: 2px 2px 4px #000000;
    }
    .h2 {
        text-align: left;
        padding-left: 20px;
    }
    p {
        text-align: left;
        padding-left: 20px;
    }
    .h3 {
        color: red;
    }
}
