.containerDongY{
    text-align: center
    ;
    margin-top: 30vw auto;
    width: 100vw;
    text-align: center;
    align-items: center;
    .chucmungdongy{
font-size: 5vw;
font-weight: 600;
color: #04aa6d;
    }
    .dongy1{
font-size: 2.5vw;
font-weight: 400;
    }
}