h1{
    font-size: 5vw;
    font-weight: 600;
    margin: 3vw;
}
.detail-your-list {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2vw;
    background-color: #88d3b4;
    gap: 1vw;
    .loiMoiKetNoi {
        border-radius: 1vw;
        padding: 0.5vw;
        margin: 1.5vw;
        background-color: #fff;
        .detail-your {
            display: flex;
            gap: 3vw;
            align-items: center;
            justify-content: center;
            margin: 2vw auto;
            font-size: 3.5vw;
            font-weight: 600;
        }
        .detail-your2 {
            display: flex;
            gap: 2vw;
            align-items: center;
            justify-content: center;
            font-size: 3vw;
            margin: 4vw auto;
            font-weight: 600;
            .xemChiTietHomThu {
                width: 26vw;
                border-radius: 1vw;
                background-color: #04aa6d;
                color: black;
            }
            .dongYKetNoiHomThu {
                width: 26vw;
                border-radius: 1vw;
                background-color: #e6f702;
                color: black;
            }
            .tuChoiKetNoiHomThu {
                width: 26vw;
                border-radius: 1vw;
                background-color: red;
                color: black;
            }
        }
    }
}
.yourDetail-avatar-hoTen-cauNoiTamDac-homThu {
    display: block;
    .yourDetail-avatar-homThu {
        width: 16.8vw;
        height: 16.8vw;
        object-fit: cover;
        border-radius: 50%;
        left: 0vw;
        z-index: 10;
    
        margin: 2vw;
    }

    .yourDetail-hoTen-cauNoiTamDac-homThu {
       
        .yourDetail-hoTen-homThu {
            margin: 3vw;

            color: red;
            display: block;
            font-size: 5vw;
            font-weight: 600;
        }
        .yourdetail-cauNoiTamDac-homThu {
            font-size: 3vw;
        }
    }
}
