.container-yourDetail {
    text-align: center;
    margin-bottom: 5vw;
    .thongTinCaNhan {
        .bannerThongTinCaNhan {
            width: 100vw;
            height: 40vw;
            object-fit: cover;
            position: relative;
        }
        .myDetail-avatar-hoTen-cauNoiTamDac {
            .myDetail-avatar {
                width: 16.8vw;
                height: 16.8vw;
                object-fit: cover;
                position: absolute;
                border-radius: 50%;
                top: 35vw;
                left: 12vw;
            }
        }
        .myDetail-hoTen-cauNoiTamDac {
            .myDetail-hoTen {
                margin-top: 5vw;
                padding-left: 30.5vw;
                text-align: left;
                display: block;
                font-size: 2.5vw;
                font-weight: 600;
            }
            .mydetail-cauNoiTamDac {
                padding-left: 30.5vw;
                text-align: left;
                display: block;
            }
        }
        .Container-myTieuChi-myNoiDung {
            display: flex;
            margin-top: 3vw;
            .myTieuChi {
                border-bottom: solid 0.1vw rgb(143, 140, 140);
                width: 40%;
                font-size: 3vw;
            }
            .myNoiDung {
                text-align: center;
                border-bottom: solid 0.1vw rgb(143, 140, 140);
                width: 60%;
            }
            .myNoiDung2 {
                justify-content: center;
                align-items: center;
                text-align: center;
                border-bottom: solid 0.1vw rgb(143, 140, 140);
                width: 60%;
                padding-left: 6%;
                display: flex;
            }
        }
        .myMauNguoiYeuLyTuong {
            text-transform: uppercase;
            font-size: 4vw;
            font-weight: 600;
            text-align: left;
            padding-left: 3vw;
            margin-top: 3vw;
        }

        .suaThongTin {
            margin-bottom: 2vw;
            cursor: pointer;
            border-radius: 1vw;
            width: 25vw;
            margin-right: 20%;
            margin-top: 5vw;
            background-color: #ff0000;
            color: #fff;
        }
        .dangXuat {
            cursor: pointer;
            border-radius: 1vw;
            width: 25vw;
            
            background-color: #04aa6d;
        }
        .huyKetNoi{
            margin-bottom: 2vw;
            cursor: pointer;
            border-radius: 1vw;
            width: 25vw;
            margin-top: 5vw;
            background-color: #ff0000;
            color: #fff;
        }
    }

    .ketNoiFake {
       text-align: center;
       border: solid 0.5vw #04aa6d;
        margin-top: 15vw;
        padding: vw;
        border-radius: 2vw;
        h1 {
            margin-top: 5vw;
            font-size: 5vw;
            font-weight: 600;
            color: red;
        }
        p {
            text-align: justify;
    font-size: 3vw;
            margin: 2vw;
        }
        h3 {
            font-size: 3.5vw;
            font-weight: 500;
            margin-top: 5vw;
            color: #04aa6d;
        }
        .huyKetNoi {
            margin-bottom: 2vw;
            cursor: pointer;
            border-radius: 1vw;
            width: 25vw;
            margin-top: 5vw;
            background-color: #ff0000;
            color: #fff;
        }
    }
}



.LocDoituongxemmat{
    margin-top: 5vw;
    font-size: 3vw;
    font-weight: 600;
}