.container-tuChoiKetNoi {
    border: solid 0.5vw #04aa6d;
    margin-top: 15vw;
    padding: vw;
    border-radius: 2vw;
    h1 {
        font-size: 4vw;
        color: red;
        font-weight: 800;
        margin-top: 5vw ;
        margin-bottom: 3vw;
    }
    .thongtinNguoiTuChoi {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;
        margin-bottom: 2vw;
        font-size: 3vw;
        font-weight: 600;
    }
    .loinhanTuChoi{
        font-size: 2.5vw;
        font-weight: 500;
        margin-bottom: 2vw;
    }
    .dongYHuyKetNoi {
        margin: 5vw;
        cursor: pointer;
        border-radius: 2vw;
        width: 35vw;
        font-weight: 600;
        font-size: 5vw;
        background-color: #ff0000;
    }
}
