.container-yeuCauDuocDongY {
    border: solid 0.5vw #04aa6d;
    margin-top: 15vw;
    padding: 3vw;
    border-radius: 2vw;
    h1 {
        
        font-size: 4vw;
        color: red;
        font-weight: 800;
        margin-bottom: 3vw;
    }
    .thongtinNguoiDongY {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2vw;
        margin-bottom: 1vw;
        font-size: 3vw;
        font-weight: 600;
    }
    .loinhanDongy{
        font-size: 2.5vw;
        font-weight: 500;
        margin-bottom: 2vw;
    }
    .okDongY {
        margin: 2vw;
        cursor: pointer;
        border-radius: 2vw;
        width: 35vw;
        background-color: #04aa6d;
        font-weight: 600;
        font-size: 5vw;
    }
}
