.container-banner-facedata {
    text-align: center;
    .banner {
        width: 100vw;
        height: 40vw;
        object-fit: cover;
        background-color: red;
        .banner2 {
            width: 100vw;
            height: 40vw;
            object-fit: cover;
        }
    }
}
.container-avatar-facedata {
    .avatar {
        width: 16.8vw;
        height: 16.8vw;
        object-fit: cover;
        position: absolute;
        border-radius: 50%;
        background-color: rgb(17, 216, 150);
        top: 35vw;
        left: 3.5vw;
        .avatar2 {
            width: 16.8vw;
            height: 16.8vw;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .containerTieuChi-facedata {
        .noiDung {
            justify-content: center;
            align-items: center;
            text-align: center;
            border: solid 0.1vw red;
            width: 50%;
            font-size: 3.5vw;
    font-weight: 600;
            margin-left: 30%;
            margin-bottom: 2vw;
        }
    }
}
.containerTieuChi-facedata {
    .noiDung {
    border-radius: 3vw;
        border: solid 0.1vw red;
        width: 50%;
        height: 8vw;
        font-size: 3.5vw;
    font-weight: 600;
        margin-left: 10%;
        margin-bottom: 2vw;
    }
}
.boQua {
    margin-top: 5vw;
    margin-left: 3vw;
    cursor: pointer;
    font-size: 3.5vw;
    font-weight: 600;
    border-radius: 5vw;
    width: 35vw;
    background-color: #04aa6d;
    margin-bottom: 5vw;
}
