.container-banner-facedata {
    .banner {
        width: 900px;
        height: 250px;
        object-fit: cover;
        background-color: red;
        .banner2 {
            width: 900px;
            height: 250px;
            object-fit: cover;
        }
    }
}
.container-avatar-facedata {
    .avatar {
        width: 168px;
        height: 168px;
        object-fit: cover;
        position: absolute;
        border-radius: 50%;
        background-color: rgb(17, 216, 150);
        top: 330px;
        left: 35px;
        .avatar2 {
            width: 168px;
            height: 168px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .containerTieuChi-facedata {
        .noiDung {
            border: solid 1px red;
            width: 50%;
            margin-left: 30%;
            margin-bottom: 20px;
        }
    }
}
.containerTieuChi-facedata {
    .noiDung {
        border: solid 1px red;
        width: 50%;
        margin-left: 10%;
        margin-bottom: 20px;
    }
}
.boQua {
    margin-left: 20px;
    cursor: pointer;
    border-radius: 10px;
    width: 150px;
    background-color: #ff0000;
}
